* {
    margin: 0px;

}

body {
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display:flex;
    /* justify-content:space-around;
    row-gap: 10px; */
}
nav li{
    list-style: none;
    margin-right:30px;
    font-size:1rem;
    font-weight:500;
}
nav h3{
    font-size:2.5rem;
    font-weight:700;
}
/* banner styles */
.banner{
      text-align:center;
      
}
.banner h2{
    font-size:3rem;
    padding-top:100px;
    padding-bottom:20px;
    color:rgb(70, 69, 69);
}
.banner p{
    color: #00070e;
    font-size:16px;
}
.banner button{
    background-color:#FF900E;
    font-size:15px;
    border-radius:8px;
    border:none;
    color:white;
    padding:10px;
    margin-top:30px;
    margin-bottom:50px;
}
.banner img{
    width:100%;
}
main{
    max-width:1440px;
}
/* features section */

.features{
    margin:101px 301px 100px 900px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:60px;
}
.features>.features-images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.features .features-images img{
    width:300px;
    height:300px;
    padding:10px;
}
.features .features-description h2{
     font-size:2.5rem;
     padding-bottom:15px;
     width:400px;
}
.features .features-description{
    padding-bottom:10px;
    /* width:400px; */
    /* border: 1px solid red; */
    /* padding-left:400px; */
    text-align:center;
}
.features .features-description h2 .quick{
    color:#727272;
    font-weight:500;
}
.features .features-description h2 .our{
    color:#131313
}
.features .features-description h2 .new{
    color:#FF900E;
}
.features .features-description p{
    font-size: 15px;
    font-weight:500;
    line-height: 25px;
    padding-bottom:20px;
}
.features .features-description button{
    color:white;
    background-color: #FF900E;
    padding:10px;
    border:none;
    border-radius:8px;
}
.love{
    display:flex;
    margin:169px 240px;
    justify-content:space-between;
    align-items:center;
    /* border:1px solid red; */
    width:100%;
    gap:100px;
}
.facts-description{
    margin:130px 240px;
}
.facts-description h3{
    font-size:2rem;
    padding-bottom:10px;
}
.facts .facts-logo{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:50px 240px;
    width:100%;
}
.facts .facts-logo .card{
    border:1px solid #FF900E;
    border-radius:8px;
    text-align:center;
    padding:15px;
}
/* responsive  */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding:20px;
    }
    nav{
        flex-direction:column;
        row-gap: 20px;
     }
     .features{
        flex-direction: column-reverse;
        margin:15px;
        padding-top:15px;
     }
     .features>.features-images{
        grid-template-columns: repeat(1,1fr);
     } 
    
    /* .banner{
        text-align:center;
    }
    .banner img{
        
    } */ 
}
/* Medium devices */
@media screen and (min-width:577px) and (max-width:992px) {
    header{
        padding:50px;
    }
    nav{
        flex-direction:column;
        row-gap: 20px;
     } 
     .features{
        flex-direction: column-reverse;
        margin:15px;
        padding-top:15px;
     }
     .features>.features-images{
        grid-template-columns: repeat(2,1fr);
     } 
     .features .features-description h2{
        /* border:1px solid gray; */
        margin-left:160px
     }
}
